/* LINKING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
​
/* CSS VARIABLES */
:root { 
  --container-pd: 1.5rem 2.5rem;
  --container-pd-2: 1rem 1.3rem;
  --container-mt-mg: 1.5rem;
}
/* CSS VARIABLES */
​
/* INITIALIZING CSS */
* {
  padding: 0px;
  margin: 0px;
}
header {
  width: 100%;
  height: 700px;
 background-image: url(images/desktop/image-header.jpg);
 background-size: cover;
}
nav {
  margin-top: 0px;
  display: flex;
}
label {
  margin-left: 30px;
  color: white;
 font-size: x-large;
 font-weight: bolder;
} 
.dropdown {
margin-left: 40%;
}
.dropdown label {
  display: none;
}
#toggle {
  color: white;
  display: none;
}
.menu{
  margin-left: 55%;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
 gap: 30px;
 color: white;
}
 button {
  font-size: smaller;
  font-weight: bold;
border: 0px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 30px;
}
button:hover{
  background-color: rgb(108, 223, 248);
}
.arrow h1 {
  letter-spacing: 8px;
  margin-top: 100px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.arrow img {
margin-top: 45px;
margin-left: 50%;
}


@media only screen and (max-width: 500px){
  header{
height: 300px;
  }
  .dropdown label{
    display: block;
  }
  .menu {
   text-align: center; 
   width: 100%;
   display: none;
  }
  .menu ul{
    display: block;
  }
  #toggle {
    margin-left: 30%;
    display: ;
  }
  #toggle:checked + .menu {
    display: block;
    margin-left: 15px;
  }
  }
  


.transform{
  margin-top: -76px;
}
.transform h2 {
  font-weight: 900px;
  font-size: 50px;
  padding: 30px;
  margin-left: 50px;
  text-size-adjust: 30px;
}
.transform p {
  font-size: larger;
  padding-left: 30px;
  margin-left: 50px;
  color: gray;
}
.transform h5 {
  margin-top: 40px;
  padding-left: 40px;
  margin-left: 50px;
}
.transform img {
  margin-top: -387px;
  position: relative;
  left: 50%;
  width: 50%;
  height: 50%;
}


@media screen (min-width: 200px) and (max-width: 400px) {

}




.standout img{ 
  width: 50%;
  margin-top: -5px;
}
.standouttxt {
  margin-left: 50%;
  margin-top: -40%;
}
.standouttxt h2 {
margin-left: 70px;
font-weight: 900px;
font-size: 50px;
}
.standouttxt p {
  margin-left: 70px;
  color: gray;
}
.standouttxt h5 {
  margin-left: 70px;
}
.graphicdesign {
  margin-top: 160px;
  width: 50%;
}
.graphicdesign img {
  width: 100%;
}
.graphicdesign h3 {
  margin-top: -200px;
  text-align: center;
}
.graphicdesign p {
  text-align: center;
}
.photography {
  margin-top: -436px;
}
.photography img {
  width: 50%;
  margin-left: 50%;
}
.photography h3 {
  margin-top: -200px;
  margin-left: 50%;
  text-align: center;
}
.photography p {
  margin-left: 50%;
  text-align: center;
}
.plain {
  position: relative;
  margin-top: 100px;
}
.plain h3 {
  text-align: center;
  color: gray ;
}
.plain ul {
  color: gray;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}  
.plain strong {
  color: black;
}
.plain img {
  position: relative;
  border-radius: 50%;
}
.multiimg ul{
  margin-left: -40px;
  list-style: none;
  display: flex;
}
.multiimg img {
width: 100%;
}
footer {
  height: 50%;
  margin-top: -40px;
  color: rgb(7, 112, 77);
  background-color: rgb(127, 201, 186);
}
footer h3 {
  text-align: center;
  font-weight: 15px;
  font-size: xx-large;
}
.anchors {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  margin-left: -35px;

}
.anchors a{
  text-decoration: none;
  color: rgb(7, 112, 77);
  margin-left: 50px;
}
.anchors a:hover {
  color: white;
}
.icons {
  margin-top: 50px;
display: flex;
text-align: center;
justify-content:center;
}
.icons a {
color: rgb(7, 112, 77);
margin: 8px;
}
.icons a:hover{
  color: white;
}