/* LINKING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
​
/* CSS VARIABLES */
:root { 
  --container-pd: 1.5rem 2.5rem;
  --container-pd-2: 1rem 1.3rem;
  --container-mt-mg: 1.5rem;
}
/* CSS VARIABLES */
​
/* INITIALIZING CSS */
* {
  padding: 0px;
  margin: 0px;
}
header {
  width: 100%;
  height: 700px;
 background-image: url(images/desktop/image-header.jpg);
 background-size: cover;
}
nav {
  display: flex;
}
label {
  margin-left: 30px;
  color: white;
 font-size: x-large;
 font-weight: bolder;
} 
.dropdown {
margin-left: 60%;
}
.dropdown label {
  display: none;
}
#toggle {
  color: white;
  display: none;
}
.menu{
  width: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
 gap: 30px;
 color: white;
}
 button {
  margin-top: -10px;
  font-size: smaller;
  font-weight: bold;
border: 0px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 30px;
}
button:hover{
  background-color: rgb(108, 223, 248);
}
.arrow h1 {
  letter-spacing: 8px;
  margin-top: 130px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.arrow img {
margin-top: 45px;
margin-left: 50%;
}


@media (min-width: 400px) and (max-width: 500px){
  header{
height: 650px;
background-size: cover;
background-repeat: no-repeat;
  }
  .dropdown label{
    display: block;
    margin-left: 0%;
  }
  .menu {
   text-align: center; 
   width: 100%;
   display: none;
  }
  .menu ul{
    width: 230px;
    height: 50%;
    padding: 15px;
    margin-left: -100%;
    display: flex;
    flex-direction: column;
    color: grey;
    background-color: white;
    border-top-right-radius: -23px;
  }
  button:hover {
    background-color: yellow;
  }
  #toggle:checked + .menu {
    display: block;
    margin-left: 15px;
  }
  .arrow h1 {
    text-align: center;
    letter-spacing: 4px;
    margin-top: 90px;
    font-weight: bold;
    font-size: 42px;
  }
  }
  


.transform{
  margin-top: -76px;
}
.transformtxt h2 {
  font-weight: 900px;
  font-size: 50px;
  padding: 30px;
  margin-left: 50px;
  text-size-adjust: 30px;
}
.transformtxt p {
  font-size: larger;
  padding-left: 30px;
  margin-left: 50px;
  color: gray;
}
.transformtxt h5 {
  margin-top: 40px;
  padding-left: 40px;
  margin-left: 50px;
}
.transformimg img {
  margin-top: -387px;
  position: relative;
  left: 50%;
  width: 50%;
  height: 50%;
}


@media (min-width: 400px) and (max-width: 500px){
.transform {
display: flex;
flex-direction: column-reverse;
}
.transformimg {
  width: 100%;
  height: 700px;

}
.transformimg img{
  margin-top: 70px;
  width: 100%;
    left: 0px;
}
.transform h2 {
  margin-top: -300px;
  text-align: center;
}
.transform p {
  margin-left: 0px;
  text-align: center;
}
.transform h5 {
  margin-left: 0px;
  text-align: center;
} 
}

.standout img{ 
  width: 50%;
  margin-top: -5px;
}
.standouttxt {
  margin-left: 50%;
  margin-top: -40%;
}
.standouttxt h2 {
margin-left: 70px;
font-weight: 900px;
font-size: 50px;
}
.standouttxt p {
  margin-left: 70px;
  color: gray;
}
.standouttxt h5 {
  margin-left: 70px;
}
@media (min-width: 400px) and (max-width: 500px) {
  .standout img {
    margin-top: 50px;
    width: 100%;
  }
  .standouttxt{
    text-align: center;
    margin-left: 0px;
    margin-top: 40px;
  }
}
.graphicdesign {
  width: 50%;
}
.graphicdesign img {
  margin-top: 100px;
  width: 100%;
}
.graphicdesign h3 {
  margin-top: -200px;
  text-align: center;
}
.graphicdesign p {
  text-align: center;
}

@media (min-width: 400px) and (max-width: 500px){
  .graphicdesign {
    width: 100%;
    margin-top: -10px;
  }
}

.photography {
  margin-top: -470px;
}
.photography img {
  width: 50%;
  margin-left: 50%;
}
.photography h3 {
  margin-top: -200px;
  margin-left: 50%;
  text-align: center;
}
.photography p {
  margin-left: 50%;
  text-align: center;
}

@media (min-width: 400px) and (max-width: 500px){
  .photography {
    margin-top: 100px;
    margin-left: 0px;
  }
  .photography img{
    margin-left: 0px;
    width: 100%;
  }

  .photography h3 {
    margin-left: 0px;
  }
  .photography p {
    margin-left: 0px;
  }
}
.plain {
  position: relative;
  margin-top: 100px;
}
.plain h3 {
  text-align: center;
  color: gray ;
}
.plain ul {
  color: gray;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}  
.plain strong {
  color: black;
}
.plain img {
  position: relative;
  border-radius: 50%;
}


@media (min-width: 400px) and (max-width: 500px) {
.plain ul {
  flex-direction: column;
}
}
.multiimg {
  margin-top: 20px;
  display: flex;
}
.multiimg ul{
  margin-left: -40px;
  list-style: none;
  width: 50%;
  display: flex;
}
.multiimg img {
width: 100%;
}


@media (min-width: 400px) and (max-width: 500px){
  .multiimg {
flex-direction: column;
  }
  .multiimg ul {
    width: 100%;
    margin-bottom: -20px;
  }
  .multiimg img {
    width: 100%;
  }

}
footer {
  height: 50%;
  margin-top: -52px;
  color: rgb(7, 112, 77);
  background-color: rgb(127, 201, 186);
}
footer h3 {
  text-align: center;
  font-weight: 15px;
  font-size: xx-large;
}
.anchors {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  margin-left: -35px;

}
.anchors a{
  text-decoration: none;
  color: rgb(7, 112, 77);
  margin-left: 50px;
}
.anchors a:hover {
  color: white;
}
.icons {
  margin-top: 50px;
display: flex;
text-align: center;
justify-content:center;
}
.icons a {
color: rgb(7, 112, 77);
margin: 8px;
}
.icons a:hover{
  color: white;
}