/* LINKING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
​
/* CSS VARIABLES */
:root { 
  --container-pd: 1.5rem 2.5rem;
  --container-pd-2: 1rem 1.3rem;
  --container-mt-mg: 1.5rem;
}
/* CSS VARIABLES */
​
/* INITIALIZING CSS */
* {
  padding: 0px;
  margin: 0px;
}
header {

  position: relative;
  margin-top: -20px;
  width: 100%;
  height: 800px;
  background-image: url(images/desktop/image-header.jpg);
  background-size: contain;
  background-repeat: no-repeat;

}
 .header h2 {
  margin-left: 30px;
  color: white;
 font-size: x-large;
 font-weight: bolder;
 
}
.navbar nav ul {
  margin-top: -30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-left: 860px;
  margin-right: 50px;
  list-style: none;
}
 button {
  font-size: smaller;
  font-weight: bold;
  margin-top: -7px;
border: 0px;
  text-transform: uppercase;
  padding: 8px;
  background-color: white;
  border-radius: 30px;
}
button:hover{
  background-color: rgb(108, 223, 248);
}
.arrow h1 {
  margin-top: 100px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.arrow img {
  position: relative;
  margin-top: 70px;
  margin-left: 650px;
}
.transform{
  margin-top: -150px;
}
.transform h2 {
  font-weight: 900px;
  font-size: 50px;
  padding: 30px;
  margin-left: 50px;
  text-size-adjust: 30px;
}
.transform p {
  font-size: larger;
  padding-left: 30px;
  margin-left: 50px;
  color: gray;
}
.transform h5 {
  margin-top: 40px;
  padding-left: 40px;
  margin-left: 50px;
}
.transform img {
  position: relative;
  left: 50%;
  margin-top: -372px;
  width: 50%;
  height: 50%;
}
.standout img{ 
  width: 50%;
  margin-top: -5px;
}
.standout h2 {
  margin-top: -420px;
margin-left: 800px;
font-weight: 900px;
font-size: 50px;
}
.standout p {
  color: gray;
  margin-left: 800px;
}
.standout h5 {
  margin-left: 800px;
}
.graphicdesign {
  margin-top: 160px;
  width: 50%;
  text-align: center;
}
.graphicdesign img {
  width: 100%;
}
.graphicdesign h3 {
  text-align: center;
  margin-top: -200px;
}
.photography {
  margin-top: -470px;
}
.photography img {
  width: 50%;
  margin-left: 50%;
}
.photography h3 {
  margin-top: -200px;
  margin-left: 50%;
  text-align: center;
}
.photography p {
  margin-left: 50%;
  text-align: center;
}
.plain {
  position: relative;
  margin-top: 100px;
}
.plain h3 {
  text-align: center;
  color: gray ;
}
.plain ul {
  color: gray;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}  
.plain strong {
  color: black;
}
.plain img {
  position: relative;
  border-radius: 50%;
}
.multiimg ul{
  display: flex;
  list-style: none;
}
.multiimg img {
  margin-top: 15px;
  margin-left: -40px;
  width: 112%;
}
footer {
  height: 50%;
  margin-top: -40px;
  color: rgb(7, 112, 77);
  background-color: rgb(127, 201, 186);
}
footer h3 {
  text-align: center;
  font-weight: 15px;
  font-size: xx-large;
}
.anchors {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  margin-left: -35px;

}
.anchors a{
  text-decoration: none;
  color: rgb(7, 112, 77);
  margin-left: 50px;
}
.anchors a:hover {
  color: white;
}
.icons {
  margin-top: 50px;
display: flex;
text-align: center;
justify-content:center;
}
.icons a {
color: rgb(7, 112, 77);
margin: 8px;
}
.icons a:hover{
  color: white;
}


@media (min-width: 450px) and (max-width: 600px)
{
  header {
    height: autos;
    position: relative;
  }
 nav {
width: 100%;
 } 
 nav>ul{
  display: none;
 }
 .arrow h1 {
  margin: auto;
  font-size: large;
  font-weight: 50px;
 }
 .arrow img {
  position: absolute;
  width: 100%;
  margin-top: ;
 }
 .transform img {
  height: auto;
  position: absolute;
  width: 97%;
  margin-left: -267px;
  margin-top: -815px;
 }
 .transform {
  right: 10px;
 }
 .transform h2 {
  margin-left: auto;
text-align: center;
 }
 .transform p {
  margin-left: auto;
  text-align: center;
 }
 .transform h5 {
  margin-left: auto;
  text-align: center;
 }
 .standout img {
  width: 100%;
 }
 .standout h2 {
  margin-top: 100px;
  margin-left: 0px;
  text-align: center;
}
.standout p {
  margin-left: auto;
  text-align: center;
}
.standout h5 {
  margin-left: auto;
  text-align: center;
}
.graphicdesign img {
  margin-top: -75px;
  margin-left: auto;
  width: 200%;
}
.graphicdesign h3 {
  text-align: center;
width: 200%;
margin-top: -150px;
}
.graphicdesign p {
  text-align: center;
  width: 200%;
}
.photography {
  margin-top: 47px;
  margin-left: -100%;
}
.photography h3 {
  margin-top: -150px;
}

.plain ul {
  display: inline;
  margin-top: 800px;
}
.multiimg {
  width: 104.5%;
}
footer {
  margin-top: opx;
}

}